/* Used colors for styling */
/* black backgrounding on white smoke text*/
/* black = #111*/
/* text whitesmoke or #f5f5f5 */



* {
 background-color:#111;
 color:#f5f5f5;

}

.header{
  font-size: 30px;
  text-align: center;
}

.QuestionArea{
  display:flex;
  border-style: solid;
  width: 100%;
  box-shadow: 1px 1px 1px white;
  justify-content: space-evenly;
    font-size: 30px;
}
.questionFooter{
  text-align: center;
}
#button{
  display: block;
  margin: auto;
  font-size: 40px;
 
}

@media (max-width: 480px) {
.header,.QuestionArea{
font-size: 20px; 
}

}